*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
/.idea/AndroidProjectSystem.xml
/.idea/androidTestResultsUserPreferences.xml
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/errors/errors-1755355688661.log
/.idea/gradle.xml
/keys/keystore
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/app/release/output-metadata.json
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/keys/Untitled.rtf
/.idea/vcs.xml
